$header: #dff9fb;
$calendar: #c7ecee;
$border: #85adb1;
$red: #eb4d4b;
$card: #00cec9;

.App {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    background-color: $header;

    .logo {
      width: 180px;
      padding: 20px;
    }
  }

  .alert {
    height: 21px;
    border-radius: 2px;
    position: absolute;
    width: fit-content;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    min-width: 200px;
    display: none;
    font-size: 12px;
    transition: all 0.2s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 5px;
    }
  }

  .alert.show {
    display: flex;
  }

  .alert.error {
    background-color: #ef8b80;
    color: #fff;

    &::before {
      background-color: #E74C3C;
    }
  }

  .calendar {
    background-color: $calendar;
    flex: 1;
    overflow-y: auto;

    .container {
      padding-top: 2rem;

      .left {
        width: 120px;

        h3 {
          position: relative;
          top: -12px;
          font-weight: 500;
          text-align: center;

          &:not(:last-child) {
            height: 100px;
          }
        }
      }

      .right {
        flex: 1;

        .well {
          border-left: 1px solid $border;
          border-bottom: 1px solid $border;
          height: 99px;

          .card {
            position: relative;
            z-index: 10;
            cursor: pointer;
            flex: 1;
            background-color: $card;
            height: 100%;
            transition: all 0.3s ease-in-out;

            .overlay {
              position: relative;
              z-index: 20;
            }

            .title {
              margin-left: 20px;
            }

            .time {
              font-weight: 500;
              margin-left: 20px;
            }

            &:hover {
              z-index: 20;
              box-shadow: 0px 10px 40px rgba(0, 64, 128, 0.2);
            }

            .backgrounds {
              position: absolute;
              z-index: 1;
              width: 100%;
              height: 100%;

              .background {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}