.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  background-color: #fafafa;
}
.logo {
  width: 180px;
  padding: 20px;
}

.calendar {
  background-color: #f7f8f9;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 6rem;
}

.row {
  display: flex;
}
.time {
  width: 160px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hour {
  color: #747d8c;
  font-weight: 500;
  text-align: center;
  position: relative;
  bottom: -10%;
}

.events {
  position: relative;
  z-index: 3;
  height: 99px;
  display: flex;
  align-items: center;
  flex: 1;
  border-left: 1px solid #85adb133;
  border-bottom: 1px solid #85adb133;
}

.events div:not(:first-child) {
  margin-left: 0;
}

.eventcard {
  overflow: hidden;
  position: relative;
  z-index: 4;
  flex: 1;
  height: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #a7cfd2;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  border: 2px solid #a7cfd2;
}

.eventcard:hover {
  border: 2px solid #35545a;
}

.eventname {
  color: #222d2f;
  font-weight: 500;
}

.eventtime {
  color: #333;
  font-size: 0.9rem;
}

.content {
  position: relative;
  z-index: 100;
}

.coloredBgs {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.red {
  height: 85px;
  background-color: #ea2027;
}
